# Changelog

{% if context.history %}
{% for version in context.history.versions() %}
{% set release = context.history.get(version) %}
## {{ version }} {% if release.tagged_date %}({{ release.tagged_date.strftime('%Y-%m-%d') }}){% endif %}

{% for type, commits in release.elements_by_type.items() %}
### {{ type }}

{% for commit in commits %}
* {{ commit.message.rstrip() }} ([{{ commit.short_hash }}]({{ commit.hexsha | commit_hash_url }}))
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}

{% if context.unreleased %}
## Unreleased

{% for type, commits in context.unreleased.items() %}
### {{ type }}

{% for commit in commits %}
* {{ commit.message.rstrip() }} ([{{ commit.short_hash }}]({{ commit.hexsha | commit_hash_url }}))
{% endfor %}
{% endfor %}
{% endif %}
